body.dark-mode {
  background-color: #111;
  color: #eee;
}
body.dark-mode a {
  color: #fff;
}
body.dark-mode button {
  background-color: #eee;
  color: #fff;
}
body.dark-mode h1 {
  color: #fff;
}





body.light-mode {
  color: #111;
}
body.light-mode a {
  color: #111;
}
body.light-mode button {
  background-color: #111;
  color: #eee;
}
body.light-mode h1 {
  color: #111;
}

